<div class="center my-4">
<form [formGroup]="form">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Categoría</mat-card-title>
    </mat-card-header>
    <img mat-card-image *ngIf="imageField.value" [src]="imageField.value" alt="image">
    <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input placeholder="Nombre" formControlName="name" matInput type="text">
            <div class="messages" *ngIf="nameField.touched && nameField.invalid">
              <mat-error *ngIf="nameField.hasError('required')">Este campo es requerido</mat-error>
              <mat-error *ngIf="nameField.hasError('minlength')">Debe tener como mínimo 3 caracteres</mat-error>
              <mat-error *ngIf="nameField.hasError('not_available')">Esta categoría ya existe</mat-error>
            </div>
          </mat-form-field>
            <input type="file" accept=".png, .jpg, .jpeg, .ico" multiple (change)="cargaImagen($event)" id="inputFile">
            <div class="messages" *ngIf="imageField.touched && imageField.invalid">
              <mat-error *ngIf="imageField.hasError('required')">Este campo es requerido</mat-error>
            </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" (click)="save()">
        <span *ngIf="isNew">Crear Categoría</span>
        <span *ngIf="!isNew">Editar Categoría</span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
</div>
